<header class="header-6">
  <div class="branding">
    <div class="nav-text">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Issue Tracking System</span>
      </div>
  </div>
  <div class="header-nav">
    <a routerLink="/issue" class="active nav-link nav-text">Issues List</a>
    <!-- <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a> -->
  </div>
  <!-- <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
      <cds-icon shape="cog"></cds-icon>
    </a>
  </div> -->
</header>